
:root{
  --beige: #efe9e3;
  --dark-beige: #948677;
  --orange: #FC6432;
  --black: #000000;
  --white: #FFFFFFFF;
  --light-gray: rgb(208, 203, 203);
  --space-1: 12px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 48px;
  --radius-1: 5px;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.appContainer{
  display: flex;
  flex-direction: column;
  min-width: 425px;
  height: 100vh;
}

.transactionContainer{
  width:356px;
  min-width: 356px;
  height:520px;
  min-height: 520px;
  padding: var(--space-3);
  display: flex;
  flex-direction: column;
 
}

.transactionStatusInnerContainer{
  border: solid 1px var(--light-gray);
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: var(--space-3);
  padding-bottom: var(--space-5);  
  border-radius: var(--radius-1);
}

section.altStatesContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 88px);
}


.detailText{
  font-size: 13px;
  color: var(--dark-beige);
  margin: 0;
}

@media (max-width: 820px){
  .transactionOuterContainer{
    flex-direction: column;
  }
}